# Godot 4+ specific ignores
.godot/
/android/

# Godot-specific ignores
.import/
export.cfg
export_credentials.cfg
export_presets.cfg

# Exported builds
*.exe
*.zip
*.pck
*.apk
build/
export/

# Temporary files and logs
*.log
*.tmp
temp/

# OS and editor specific files
.DS_Store
Thumbs.db

#godot export files
godot_export/